.code-snippet .header {
  padding: var(--spacing-4);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
  border-bottom: 1px solid theme('colors.border.DEFAULT');
}

.code-snippet .content {
  overflow-x: auto;
  background-color: rgb(var(--color-surface-secondary) / 0.06);
  position: relative;
}

.code-snippet .content ::-webkit-scrollbar {
  display: none;
}

.code-snippet .content :global(pre) {
  margin: 0 !important;
  font-size: var(--fontSize-sm) !important;
  word-wrap: break-word;
  background-color: var(--color-surface-secondary) !important;
  outline-color: theme('colors.border.DEFAULT');
  padding: 0;
}

.code-snippet .content :global(pre) :global(span.line-indicator) {
  display: inline-block;
  pointer-events: none;
  position: sticky;
  left: 0;
  background-color: rgb(var(--color-surface-secondary) / 0.1);
  backdrop-filter: blur(2px);
  color: theme('colors.text.tertiary');
  user-select: none;
  width: 2em;
  text-align: end;
  padding: 0 0.5em;
  margin-right: 0.5em;
}
