@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	@apply bg-background text-foreground;
}

@layer base {
	:root {
		--background: #ffffff;
		--foreground: #000000;
	}
	.dark {
		--background: #000000;
		--foreground: #ffffff;
	}
	a {
		@apply underline decoration-neutral-800 decoration-2 underline-offset-4 transition-opacity hover:opacity-80 dark:decoration-neutral-200;
	}
	h1 {
		@apply font-neue-bit text-6xl md:text-7xl;
	}
	h2 {
		@apply text-4xl;
	}
	h3 {
		@apply text-2xl leading-7;
	}
	input {
		@apply border-secondary w-full rounded-md border bg-neutral-100 p-3 font-light text-neutral-500 opacity-70 focus:opacity-100 focus:outline-none dark:bg-neutral-900 dark:text-neutral-300;
	}
	textarea {
		@apply border-secondary h-32 w-full resize-none rounded-md border bg-neutral-100 p-3 font-light text-neutral-500 opacity-70 focus:opacity-100 focus:outline-none dark:bg-neutral-900 dark:text-neutral-300;
	}
	code {
		@apply rounded-md bg-neutral-200 px-1 py-0.5 dark:bg-neutral-700;
	}
	blockquote {
		@apply border-stone-500/80;
	}
	aside {
		@apply rounded-md bg-neutral-100 p-2 dark:bg-neutral-600;
	}
	ul {
		@apply ml-10 flex list-outside list-disc flex-col gap-3;
	}
	ol {
		@apply ml-10 flex list-outside list-decimal flex-col gap-3;
	}
	.text-primary {
		@apply text-black dark:text-white;
	}
	.text-secondary {
		@apply text-neutral-700 dark:text-neutral-300;
	}
	.text-tertiary {
		@apply text-neutral-600 dark:text-neutral-400;
	}
	.text-negative {
		@apply text-white dark:text-black;
	}
	.border-secondary {
		@apply border-stone-200/90 dark:border-stone-800/90;
	}
	@keyframes slide-left {
		0% {
			left: 0;
		}
		100% {
			left: -100%;
		}
	}
	.animate-carousel {
		width: 200%;
		animation: slide-left 15s linear infinite;
	}
}
