@import "tailwindcss";

:root {
	--primary: black;
	--secondary: #808080;
}

@media (prefers-color-scheme: dark) {
	:root {
		--primary: white;
		--secondary: #808080;
	}
}

@theme inline {
	--color-primary: var(--primary);
	--color-secondary: var(--secondary);
}

@layer base {
	html {
		@apply dark:bg-black bg-white dark:text-white text-black;
	}

	h1 {
		@apply text-6xl;
	}

	h2 {
		@apply text-4xl;
	}
}

@layer components {
	input,
	textarea {
		@apply hover:bg-neutral-100 border transition-colors dark:border-neutral-900 border-neutral-100 dark:hover:bg-neutral-900 px-3.5 focus:outline-none focus:border-secondary dark:focus:border-secondary placeholder:text-neutral-500 p-2;
	}

	textarea {
		@apply min-h-20;
	}

	article a {
		@apply underline underline-offset-4 decoration-dashed hover:decoration-solid;
	}

	li {
		@apply list-disc list-inside;
	}

	ol {
		@apply list-decimal list-inside;
	}

	pre {
		@apply bg-neutral-100 dark:bg-neutral-900 rounded-md p-2 px-3.5 text-sm;
	}

	.dev {
		@apply border border-red-500 bg-red-500/10;
	}

	.wordmark path {
		@apply transition-colors hover:fill-black dark:hover:fill-white fill-white dark:fill-black;
	}
}
